#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  margin: auto;
  max-width: 800px;
}

.form-container {
  display: flex;
  align-items: end;
  gap: 20px;
}

.form-container button {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 15px;

  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;

  line-height: 1;
}

.form-container button:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.form-container button:active {
  background-color: white;
}

.date-form, .count-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;
  gap: 10px;
}

.form-label {
  padding-left: 5px;
}

.date-input, .count-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 5px 10px;


  border: 2px solid black;
  border-radius: 10px;
  outline: none;
}

.table-body {
  box-sizing: border-box;
  padding: 10px 0;

  border: 2px solid black;
  border-radius: 20px;
  overflow-y: scroll;
}

.table-headers {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.table-header {
  flex: 1 1 0;
}

.table-headers > span:nth-child(3) {
  max-width: 100px;
}

.records-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.record {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
}

.record-date, .record-count {
  flex: 1 1 0;
  box-sizing: border-box;
}

.record-actions {
  flex: 1 1 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 5px;
  max-width: 100px;
}

.record-actions button {
  background-color: transparent;
  border: none;
}

.record-actions button:hover {
  cursor: pointer;
}



